
<div ng-show="!gators" class="text-muted"><i class="fa fa-cog fa-spin"></i> Loading investigators...</div>
<div ng-show="!cards" class="text-muted"><i class="fa fa-cog fa-spin"></i> Loading Cards...</div>
<div ng-show="!packs" class="text-muted"><i class="fa fa-cog fa-spin"></i> Loading Packs...</div>

<div ng-show="cards && gators && packs">

    <div>
        <div id="blurb" class="well">
            This tool allows users to randomly generate legal decks for the 
            <a href="https://www.fantasyflightgames.com/en/news/2017/9/18/invoke-thy-name/">Ultimatum of Chaos</a> 
            method of playing the <a href="https://www.fantasyflightgames.com/en/products/arkham-horror-the-card-game/">Arhkam Horror Living Card Game</a>. 
            Select an investigator from the drop-down below and then click the <i class="fa fa-cog"></i> button, or just click the <i class="fa fa-random"></i> button. 
            To change which packs to build a deck from click the <i class="fa fa-check-square-o"></i> button. Click the <i class="fa fa-download"></i> button to export the deck.
            Card data and images from <a href="https://arkhamdb.com">https://arkhamdb.com</a>.
        </div>
    </div>

    <div class="form-inline row">
        <div class="col-xs-12">
            <div class="form-group">
                <select class="form-control" ng-model="selectedGator" ng-change="setGator()">
                    <option ng-repeat="g in gators | orderBy: 'name'" value="{{g.code}}" ng-show="validGator(g.code)">{{g.name}}</option>
                </select>
            </div>
        
            <div class="form-group">
            <button class="btn btn-primary" ng-click="makeDeck()"><i class="fa fa-cog"></i><span class="hidden-xs"> Make Deck</span></button>
            <button class="btn btn-primary" ng-click="randomGator()"><i class="fa fa-random"></i><span class="hidden-xs"> Random Investigator</span></button>
            <button class="btn btn-primary" ng-click="toggleShowPacks()">
                <i class="fa fa-check-square-o"></i>
                <span class="hidden-xs">
                <span ng-show="!showPacks">Show</span><span ng-show="showPacks">Hide</span> 
                Packs
                </span>
            </button>
            <button class="btn btn-primary" ng-click="downloadOctgn()"><i class="fa fa-download"></i><span class="hidden-xs"> Download OCTGN</span></button>
            <div id="include-unreleased" class="checkbox">
                <label>
                    <input type="checkbox" ng-model="includeUnreleased"><span class="hidden-xs"> Include</span> Unreleased
                </label>
            </div>
            </div>
        </div>

    </div>

    <div class="row" id="packs" ng-show="showPacks">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 well">
            <div class="form-inline">
                <button class="btn btn-sm btn-primary" ng-click="uncheckAllPacks()">Uncheck All</button>
                <button class="btn btn-sm btn-primary" ng-click="checkAllPacks()">Check All</button>
            </div>

            <div class="checkbox" ng-repeat="p in packs">
                <label>
                    <input type="checkbox" ng-model="p.checked"> {{p.name}}
                </label>
            </div>
        </div>
    </div>

    <div class="row" id="gator" ng-show="gator">
        <div class="col-xs-12 col-sm-12 col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading"><a ng-href="{{gator.url}}"><i class="fa fa-external-link"></i> {{gator.name}}</a></div>
                <div class="panel-body text-center">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-3"></div>
                                <div class="header col-xs-1">W</div>
                                <div class="header col-xs-1">I</div>
                                <div class="header col-xs-1">C</div>
                                <div class="header col-xs-1">A</div>
                                <div class="header col-xs-1">H</div>
                                <div class="header col-xs-1">S</div>
                                
                            </div>

                            <div class="row">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-1">{{gator.skill_willpower}}</div>
                                <div class="col-xs-1">{{gator.skill_intellect}}</div>
                                <div class="col-xs-1">{{gator.skill_combat}}</div>
                                <div class="col-xs-1">{{gator.skill_agility}}</div>
                                <div class="col-xs-1">{{gator.health}}</div>
                                <div class="col-xs-1">{{gator.sanity}}</div>
                            </div>
                        </div>

                        <div class="col-md-6 hidden-xs hidden-sm">
                            <p ng-bind-html="gator.text.replace('<b>', '<br/><b>')"></p>
                        </div>
                    </div>

                    <div class="hidden-md hidden-lg">
                        <p ng-bind-html="gator.text"></p>
                    </div>

                </div>
                <div class="panel-footer" ng-bind-html="gator.back_text">
                </div>
            </div>
        </div>
    </div>

    <div ng-show="deck">

        <div class="row header">
            <div class="hidden-xs col-sm-4">Name</div>
            <div class="hidden-xs col-sm-1 text-center">Count</div>
            <div class="hidden-xs col-sm-1">Type</div>
            <div class="hidden-xs col-sm-1 text-center">Faction</div>
            <div class="hidden-xs col-sm-3">Traits</div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">Deck</div>
        </div>

        <div class="row" ng-class-even="'rowHighlight'" hover-class="hoverHighlight" ng-repeat="card in deck">
            <div class="hidden-xs col-sm-4"><a ng-href="{{card.card.url}}">{{card.card.name}}</a></div>
            <div class="hidden-xs col-sm-1 text-center">{{card.count}}</div>
            <div class="hidden-xs col-sm-1">{{card.card.type_name}}</div>
            <div class="hidden-xs col-sm-1 text-center"><img ng-show="card.card.faction_name != 'Neutral'" ng-src="images/{{card.card.faction_code}}.png" alt="{{card.card.faction_name}}"></div>
            <div class="hidden-xs col-sm-3">{{card.card.traits}}</div>

            <div class="col-xs-7 hidden-sm hidden-md hidden-lg"><a ng-href="{{card.card.url}}">{{card.card.name}}</a> ({{card.count}})</div>
            <div class="col-xs-2 hidden-sm hidden-md hidden-lg">{{card.card.type_name}}</div>
            <div class="col-xs-2 hidden-sm hidden-md hidden-lg"><img ng-show="card.card.faction_name != 'Neutral'" ng-src="images/{{card.card.faction_code}}.png" alt="{{card.card.faction_name}}"></div>
        </div>

    </div>

</div>
