@import "src/libs/bootstrap/less/bootstrap.less";

@dark-blue          : @brand-primary;
@darkest-blue       : @dark-blue * .25;
@light-blue         : @dark-blue * 1.25;

@navbar-default-bg                  : @dark-blue;
@navbar-default-link-color          : white;
@navbar-default-link-hover-color    : @darkest-blue;

#blurb {
    margin: 0 auto;
    margin-bottom: 20px;
}

#subheader {
    font-size: 10px;
    padding: 5px;
    position: absolute;
    top: 50px;
    width: 100%;
}

#content {
    padding-top: 10px;
    padding-bottom: 100px;
}

#gator {
    margin-top: 10px;
}

#packs {
    margin-top: 10px;
}

#include-unreleased {
    display: inline;
}

.navbar {
    border-radius: 0;
    margin-bottom: 20px;
}

.navbar-icon {
    font-size: 20px;
}

.navbar-brand > img {
    display: inline;
    height: 25px;
}

.header {
    background-color: @brand-primary;
    color: white;
    font-weight: 600;
}

.rowHighlight {
    background-color: #eee;
}

.hoverHighlight {
    background-color: @light-blue;
    color: @darkest-blue;
}

.hoverHighlight a {
    color: white;
}

.panel-heading a {
    color: white;
    font-weight: 600;
}
